# .NET Build outputs
bin/
obj/
out/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Environment files
.env
.env.local

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Docker
.dockerignore
Dockerfile
docker-compose*

# Git
.git
.gitignore

# Documentation
README.md
*.md